body    {
    background-image: url("../img/edwin-andrade-158050-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    font-family: Nunito;
    font-style: normal;
    font-variant: normal;
    /*flex-direction: column;*/
}

nav h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body    {
    background-image: url("../img/edwin-andrade-158050-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    /* color: azure; */
    /*flex-direction: column;*/
}

.setlistr-nav, .page-header {
    font-weight: bold;
}

small {
    font-size: 90%;
}

h2 {
    color: lightgray
}

h2 #setlist-artist {
    color: dimgray;
}

h3, h4, h5 {
    color: dimgray;
}

p, li   {
    color: lightgray;
}

.table  {
    color: lightgray;
}

img {
    max-width: 300px;
    max-height: 300px;
}

.headphones {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.spotify-login {
    display: flex;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 190px;
    left: 160px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.headphones:hover  {
    opacity: 0.1;
}

.spotify-login:hover  {
    opacity: 1;
}

.setlistr-body {
    display: flex;
    flex: 1;
}

.setlistr-content {
    margin: 20px;
    flex: 1;
    color: lightgray;
}

/*.setlistr-nav {
    order: -1;
    color: lightgray;
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
}*/

/* #artist-search-bar   {
    margin: 20px;
} */

.btn {
    margin-top: 20px;
    margin-right: 20px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.well {
    min-height:20px;
    padding:10px;
    margin-bottom:20px;
    background-color: black;
    border:1px solid #e3e3e3;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}


h5 span {
    color: limegreen;
    background-color: rgba(81,81,81,.5);
}

div.transbox {
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(0,0,0,0.5);
    /* background-color: black;
    opacity: 0.7; */
    /* filter: alpha(opacity=60); For IE8 and earlier */
    font-weight: bold;
    color: #000000;
}

#setlist-area {
    display: none;
}

.btn-primary, .btn-default { 
    background: limegreen;
    border-color: white; 
}

#profile-image {
    border: 1px solid limegreen;
}