body    {
    background-image: url("../img/edwin-andrade-158050-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    font-family: Nunito;
    font-style: normal;
    font-variant: normal;
}

nav h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p, li, h2   {
    color: lightgray;
}

h3, h4, h5 {
    color: dimgray;
}

img {
    max-width: 300px;
    max-height: 300px;
}

.headphones {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.col-12{
    width: 498;
}

.headphones:hover  {
    opacity: 0.1;
    transition-duration: 30;
}

.spotify-login {
    display: flex;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 210px;
    left: 180px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.spotify-login:hover  {
    opacity: 1;
    transform: scale(1.5, 1.5);
    -webkit-filter: brightness(125%);
}

.btn {
    margin-top: 40px;
    margin-right: 20px;
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: limegreen;
}

.btn:hover {
    color: limegreen;
    background-color: #5a6268;
    border-color: #545b62;
}

.fa-spinner {
    font-size: 24px;
    color: white;
    display: none;
}

.well {
    min-height:20px;
    padding:10px;
    margin-bottom:20px;
    border:1px solid limegreen;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 40px;
    border-bottom: 1px solid #eee;
}

h5 span {
    color: white;
    background-color: rgba(81,81,81,.5);
}

div.transbox {
    background:rgba(0,0,0,0.5);
    font-weight: bold;
    color: #000000;
}

#setlist-artist {
    color: dimgray;
    text-decoration: underline dotted darkgray;
}
#setlist-buttons {
    margin-left: 8px;
}

#setlist-area {
    display: none;
}

#setlist-error {
    margin-top: 15px;
}

#playlist-outcome {
    margin-top: 30px;
}

#search-again {
    display: none;
}

#profile-image {
    border: 1px solid darkgray;
    margin-left: 5px;
    margin-right: 5px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.top-artist:hover {
    text-decoration: underline limegreen;
    cursor: pointer;
}

.user-playlist:hover {
    text-decoration: underline limegreen;
}

/*Some Aesthetic Styling*/
.shimmer {
    font-weight:400;
    font-size:3em;
    color: rgba(255,255,255,0.1);
    -webkit-filter: brightness(150%);
}
.shimmer {
  /* the shimmer magic */
    background: -webkit-gradient(linear,left top,right top,from(#222),to(#222),color-stop(.1,#fff));
    background: -moz-gradient(linear,left top,right top,from(#222),to(#222),color-stop(.1,#fff));
    background: gradient(linear,left top,right top,from(#222),to(#222),color-stop(.1,#fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    -webkit-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
  }
  @-moz-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-ms-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

footer {
  color: white;
  position: fixed;
  bottom:0;
  text-shadow: 2px 2px 4px #000000;
  background:rgba(0,0,0,0.75);
  width: 100%;
}

.repo-link {
    color: limegreen;
}

.container {
    margin-bottom: 50px;
}