body    {
    background-image: url("../img/edwin-andrade-158050-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p   {
    color: lightgray;

}

.table  {
    color: lightgray;
}

.linkz {
    position: relative;
    display: flex;
    max-height: 300px;
}

img {
    max-width: 300px;
    max-height: 300px;
}

.headphones {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.spotify-login {
    display: flex;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 190px;
    left: 160px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.headphones:hover  {
    opacity: 0.1;
}

.spotify-login:hover  {
    opacity: 1;
}

.setlistr-body {
    display: flex;
    flex: 1;
}

.setlistr-content {
    margin: 20px;
    flex: 1;
    color: lightgray;
}

.setlistr-nav {
    /* put the nav on the left */
    order: -1;
    color: lightgray;
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
}

#artist-search-bar   {
    margin: 20px;
}

.btn {
    margin-top: 20px;
    margin-right: 20px;
}

.footer {
        color: lightgray;
        margin: 20px;
}