*{
    margin: 0;
}

body{
    background-image: url("../img/edwin-andrade-158050-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.table{
    color: antiquewhite;
}

.container {
    position: relative;
    display: flex;
    width: 50%;
}

img {
    display: flex;
    max-width: 300px;
    max-height: 300px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

}
.middle {
    display: flex;
    max-width: 300px;
    max-height: 300px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.container:hover .img {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.setlistr-body {
    display: flex;
    flex: 1;
}

.setlistr-content {
    margin: 20px;
    flex: 1;
    color: lightgray;
}

.setlistr-nav {
    /* put the nav on the left */
    order: -1;
    color: lightgray;
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
}

footer {
        color: lightgray;
}


